@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 100;
  src: url("/BebasNeue-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: url("/BebasNeue-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Bebas Neue";
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.disableScroll {
  overflow-y: hidden;
}
