@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/BebasNeue-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/BebasNeue-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Bebas Neue";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
