.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(36, 36, 36, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 248px;
  height: 56px;
  animation: width 2s ease-out;
}

@keyframes width {
  0% {
    overflow: hidden;
    width: 0px;
  }
  100% {
    width: 248px;
  }
}

.container button:hover {
  cursor: pointer;
}

.container button > * {
  animation: showContent 3s ease-out;
}

@keyframes showContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  margin: 0;
  font-family: "Bebas Neue";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  color: white;
}

.plus {
  width: 14px;
}
