.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 260px;
  height: 740px;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
  background: #00000082;
  box-shadow: 0px 0px 10px 1px #000;
}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 20px;
  width: 260px;
  height: 700px;
  animation: fadeAndShow 2s ease;
}

@keyframes fadeAndShow {
  0% {
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    opacity: 1;
    height: 100%;
  }
}

@media screen and (max-width: 900px), screen and (max-height: 720px) {
  .container {
    width: 100%;
    height: 100%;
    background: #242424;
    box-shadow: 0px -5px 120px 80px #242424;
    margin-top: 0;
    max-height: none;
  }

  .movies {
    width: 100%;
    height: 100%;
    overflow-y: unset;
  }
}
