.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000042;
  z-index: 2;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 730px;
  height: 440px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #242424;
  color: white;
}

.close {
  position: absolute;
  background: none;
  border: none;
  top: 20px;
  right: 20px;
}

.close:hover {
  cursor: pointer;
}

.close h4 {
  display: none;
}

.boxTitle {
  margin-bottom: auto;
  color: #64eebc;
  font-size: 20px;
  letter-spacing: 4px;
}

.inputTitle {
  width: 248px;
  height: 30px;
  color: white;
  font-size: 16px;
  font-family: "Bebas Neue";
  letter-spacing: 4px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 69px;
}

.inputTitle:focus {
  outline: none;
}

.box input::placeholder {
  color: white;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 4px;
  text-align: center;
}

.uploadButton {
  border: none;
  font-family: "Bebas Neue";
  font-size: 18px;
  letter-spacing: 4px;
  width: 248px;
  height: 56px;
  margin-bottom: 20px;
}

.uploadButton:hover {
  cursor: pointer;
}

.uploadButtonOff {
  opacity: 0.5;
}

@media screen and (max-width: 800px), screen and (max-height: 720px) {
  .container {
    position: fixed;
  }

  .box {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .boxTitle {
    margin-top: 196px;
    margin-bottom: 72px;
  }

  .close {
    position: static;
    width: 248px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0;
  }

  .close h4 {
    display: block;
    color: white;
    font-family: "Bebas Neue";
    font-size: 18px;
    letter-spacing: 4px;
    margin: 0;
  }

  .close img {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-height: 720px) {
  .box {
    justify-content: center;
  }

  .boxTitle {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .inputTitle {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 500px) {
  .boxTitle {
    margin-top: 60px;
  }

  .buttons {
    flex-direction: row;
    gap: 20px;
  }
}
