.container {
  margin-top: auto;
  margin-bottom: 150px;
}

.subtitle {
  margin: 0;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 4px;
}

.subtitle strong {
  font-weight: bold;
}

.title {
  margin: 0;
  color: #64eebc;
  font-weight: bold;
  font-size: 120px;
  letter-spacing: 16px;
  animation: fade 2s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}

@media screen and (max-width: 1500px) {
  .title {
    font-size: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px), screen and (max-height: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 214px 10px 50px 10px;
    box-sizing: border-box;
    background-image: var(--url);
    background-size: var(--size);
    background-repeat: no-repeat;
    background-position: center;
    animation: zoom 2s ease-out;
  }

  @keyframes zoom {
    0% {
      background-size: calc(var(--size) + 20%);
    }
    100% {
      background-size: var(--size);
    }
  }

  .title {
    text-align: center;
  }

  .buttons {
    flex-direction: column;
    gap: 16px;
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .title {
    letter-spacing: 1px;
  }
}
