.container {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 64px;
  margin-right: auto;
}

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: none;
  padding-left: 8px;
}

.button:hover {
  cursor: pointer;
}

.button h4 {
  color: white;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 4px;
  margin: 0;
}

.button img {
  padding-bottom: 4px;
}
